# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Mac
.DS_Store

# java
*.class
*.ear
*.jar
*.war

# pytest
__pycache__
.pytest_cache
Pipfile.lock

# maven
build/
config/
target/

# Nodejs
dist/
node_modules/
package-lock.json

# eclipse
.metadata/
.settings/

# JetBrains
.idea/
*.iml

# Serverless
.serverless
